@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'lxgw-wenkai-screen-webfont/style.css';

pre,code {
  font-family: "LXGW WenKai Mono", sans-serif;
}

#global-background {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url("./background/global.svg");
}
